<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#">About</a>
            <a href="/register">Register/a>
            <a href="/">Logout</a>
        </div>
    </nav>
    <h1>User Login</h1>
    <form id="loginForm" action="/login" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    <script src="/static/script.js"></script>
</body>
</html>





